# requirements.txt

# Main dependencies
pycryptodome==3.22.0
flask-unsign==1.2.1
Django==5.2.1
pyjwt[crypto]==2.10.1
colorama==0.4.6
httpx==0.28.1
toml==0.10.2
# Not sure why we need these as I cannot see any usage
cryptography==44.0.3
jinja2==3.1.6

# Dev dependencies
pytest==8.3.5
pytest-cov==6.1.1
mock==5.2.0
pytest-mock==3.14.0
poetry-dynamic-versioning[plugin]==1.8.2
respx==0.22.0
